body{
	height: 100%;
	height: auto;
	width: 90%;
}

header{
	margin-top: 0px;
	background-color: #D2691E;
}

h3{
	text-align: center; 
}

ul {
	text-align: left; 
}

ul li{ 
	list-style: none;
	display: table-row;
	margin: 20px;
}